In [9]:
#Types 

type(11)

#can be negative or positive
#finite range

int

In [14]:
type(18.2)
float(2)
#real number
#number with decimals

2.0

In [11]:
type("Hello")

str

In [15]:
int("1999")

1999

In [17]:
int("A")

ValueError: invalid literal for int() with base 10: 'A'

In [18]:
str(1)

'1'

In [20]:
str(18.2)

'18.2'

In [22]:
#Boolean

type(True)

bool

In [23]:
int(True)

1

In [25]:
int(False)

0

In [26]:
bool(1)

True

In [50]:
bool(0)

False

In [107]:
float(bool(True))

1.0

In [32]:
50 - 60
25/6

4.166666666666667

In [34]:
25//6

4

In [38]:
name = "Thanh"
age = 21
name

'Thanh'

In [44]:
x = 34 + 25 + 12 + 5
print(x)
y = x/60
print(y)
x = x/60
print(x)

76
1.2666666666666666
1.2666666666666666

In [45]:
total_min = 43 + 42
print(total_min)
total_hr = total_min/60
print(total_hr)

85
1.4166666666666667

In [47]:
import sys
print(sys.version)

3.7.4 (default, Aug 13 2019, 15:17:50)
[Clang 4.0.1 (tags/RELEASE_401/final)]

In [53]:
x = 6/2
print(x)
type(x)

3.0

float

In [54]:
x = 6//2
print(x)
type(x)

3

int

In [108]:
#Strings: Immutable (unchanging over time)
#Order of sequences
#tuple (a data structure consisting of multiple parts)

name = "Nguyen Dai Truong Thanh"
name[::2] #a stride value #slicing
name[0:5:2]
len(name)

23

In [69]:
name = "Thanh"
name = name + " is the best!"
print(name)

# \ are meant to proceed escape sequences

print("Thanh\n champion") # \n represent a new line

print("Thanh\t 21 years old") # \t represent a tab 

print("Thanh \\ and coding")

Thanh is the best!
Thanh
 champion
Thanh	 21 years old
Thanh \ and coding

In [88]:
#Method

a = "Nick and Jamie"
b = a.upper()
print(a)
print(b)

c = a.replace("Nick","Thanh").replace("Jamie","Diep")
print(c)
print(b.find("NICK"))
print(len(a))
print(len(c))

Nick and Jamie
NICK AND JAMIE
Thanh and Diep
0
14
14

In [85]:
numbers = "0123456"
numbers[::2]

'0246'

In [89]:
"0123456".find("1")

1

In [106]:
distance = input("Distance: ")
distance_miles = int(distance)/0.6214
print("Distance in miles:", distance_miles)

Distance: 300
Distance in miles: 482.78081750885104

In [1]:
A="1234567"
A[1::2]

'246'

In [2]:
Name="Michael Jackson"
Name.find("el")

5

In [4]:
f = "y"
f.upper

In [5]:
"1,2,3,4".split(",")

['1', '2', '3', '4']

In [8]:
A = [1,2,4,5]
a = set(A)
a

{1, 2, 4, 5}

In [10]:
v = {"a","b"}
v.add("c")
v

{'a', 'b', 'c'}

In [11]:
for n in range(3):
    print(n)

0
1
2

In [12]:
A=["1","2","3"]
for a in A:
    print(2*a)

11
22
33

In [15]:
def add(x,y):
    z=x+y
    return(y)
add(1,1)

1